<h1 class="text-center mt-5 mb-1">All Posts</h1>
<div class="row">
  <div class="col-md-3 mx-auto">
    <hr style="height:2px; width:50%; border-width:0; color:red; background-color:#333">
  </div>
</div>
<div class="container ">
  <div class="d-flex justify-content-center mt-2">
        <%= paginate @posts%>
  </div>
  <% @posts.each do |post|%>
    <div class="row">
      <div class="col-md-6 mx-auto card mb-2 bg-dark text-white">
        <div class="card-body">
          <p class="lead mb-1"><%= post.content %></p> 
          <%= post_info(post) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
        <%= paginate @posts%>
  </div>
</div>