// app/javascript/stylesheets/application.scss
@import '~bootstrap/scss/bootstrap';

body {
  background: rgba(0, 0, 0, 0);
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  display: flex;
  flex-direction: column;

  .welcome {
    width: 65%;
  }

  .join-us {
    display: flex;
    justify-content: center;
  }
}

hr.divider {
  color: red;
}

@media (max-width: 768px) {
  a.btn-actions {
      width:100%;
  }
}