// app/javascript/stylesheets/application.scss
@import '~bootstrap/scss/bootstrap';

body {
  background: rgba(0, 0, 0, 0);
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;

  .welcome {
    width: 65%;
  }

  .join-us {
    display: flex;
    justify-content: center;
  }
}

hr.divider {
  color: red;
}

.footer {
  padding: 5rem 0 10rem;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  a.btn-actions {
    width: 100%;
  }

  .jumbotron {
  
    .welcome {
      width: 100%;

      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  
    .join-us {
      flex-direction: column;
    }
  }

  
}
