<h1>Create a new post</h1>

 <%= form_for @post do |f| %>
    <div>
        <%= f.text_field  :content, placeholder: "Share your idea", autofocus: true %>
    </div>

    <div >
      <%= f.submit "Post" %>
    </div>
<% end %>