<%= link_to "Sign In", new_user_session_path, class: "dropdown-item"%>
<div class="dropdown-divider"></div>
  <div class="dropdown-divider"></div>
  <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item"%>
<div class="dropdown-divider"></div>