
<%= link_to "Create New Post", new_post_path, class: "dropdown-item"%>
<div class="dropdown-divider"></div>
<%= link_to "Log Out", posts_path, class: "dropdown-item"%>
<div class="dropdown-divider"></div>